[
  {rabbit, [
    {ssl_options, [
      {cacertfile, "/etc/rabbitmq/tls/ca_certificate.pem"},
      {certfile,   "/etc/rabbitmq/tls/server_certificate.pem"},
      {keyfile,    "/etc/rabbitmq/tls/server_key.pem"},
      {verify,     verify_peer},
      {fail_if_no_peer_cert, false},
      {depth,      1},
      {versions,   ['tlsv1.3', 'tlsv1.2']},
      {supported_groups, [x25519mlkem768, x25519, secp256r1]},
      {honor_cipher_order, true},
      {ciphers,    [
          %% TLS 1.3 Ciphers
          "TLS_AES_256_GCM_SHA384",
          "TLS_CHACHA20_POLY1305_SHA256",
          "TLS_AES_128_GCM_SHA256",
          %% TLS 1.2 Ciphers
          "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
          "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
          "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
          "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256"
          ]}
    ]}
  ]}
].