<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.rabbitmq.client.AmqpClientTestExtension" level="debug" />
    <logger name="com.rabbitmq.client.test.server.TopicPermissions" level="debug" />
    <logger name="com.rabbitmq.client.impl.AbstractMetricsCollector" level="debug" />
    <logger name="com.rabbitmq.client.impl.NettyFrameHandlerFactory" level="debug" />
    <logger name="com.rabbitmq.client.test.ProtocolVersionMismatch" level="debug" />

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>