name: Test against RabbitMQ alphas

on:
  schedule:
    - cron: '0 4 ? * SUN,THU'
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        rabbitmq-image:
          - pivotalrabbitmq/rabbitmq:v4.1.x-otp27
          - pivotalrabbitmq/rabbitmq:main-otp27
    name:  Test against ${{ matrix.rabbitmq-image }}
    steps:
      - uses: actions/checkout@v5
      - name: Checkout tls-gen
        uses: actions/checkout@v5
        with:
          repository: rabbitmq/tls-gen
          path: './tls-gen'
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Start cluster
        run: ci/start-cluster.sh
        env:
          RABBITMQ_IMAGE: ${{ matrix.rabbitmq-image }}
      - name: Get dependencies
        run: make deps
      - name: Test with Netty
        run: |
          ./mvnw verify -Dio.layer=netty -Drabbitmqctl.bin=DOCKER:rabbitmq0 \
            -Dtest-broker.A.nodename=rabbit@node0 -Dtest-broker.B.nodename=rabbit@node1 \
            -Dca.certificate=./tls-gen/basic/result/ca_certificate.pem \
            -Dclient.certificate=./tls-gen/basic/result/client_$(hostname)_certificate.pem \
            -Dmaven.javadoc.skip=true \
            --no-transfer-progress
      - name: Test with blocking IO
        run: |
          ./mvnw verify -Dio.layer=socket -Drabbitmqctl.bin=DOCKER:rabbitmq0 \
            -Dtest-broker.A.nodename=rabbit@node0 -Dtest-broker.B.nodename=rabbit@node1 \
            -Dca.certificate=./tls-gen/basic/result/ca_certificate.pem \
            -Dclient.certificate=./tls-gen/basic/result/client_$(hostname)_certificate.pem \
            -Dmaven.javadoc.skip=true \
            --no-transfer-progress
      - name: Stop cluster
        run: docker compose --file ci/cluster/docker-compose.yml down
