name: Test against RabbitMQ stable

on:
  pull_request:
    branches:
      - 5.x.x-stable
    paths:
      - src/**
      - pom.xml
      - ci/**
  push:
    branches:
      - 5.x.x-stable
    paths:
      - src/**
      - pom.xml
      - ci/**
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - name: Checkout tls-gen
        uses: actions/checkout@v6
        with:
          repository: rabbitmq/tls-gen
          path: './tls-gen'
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Start cluster
        run: ci/start-cluster.sh
      - name: Get dependencies
        run: make deps
      - name: Test with Netty
        run: |
          ./mvnw verify -Dio.layer=netty -Drabbitmqctl.bin=DOCKER:rabbitmq0 \
            -Dtest-broker.A.nodename=rabbit@node0 -Dtest-broker.B.nodename=rabbit@node1 \
            -Dca.certificate=./tls-gen/basic/result/ca_certificate.pem \
            -Dclient.certificate=./tls-gen/basic/result/client_$(hostname)_certificate.pem \
            -Dmaven.javadoc.skip=true \
            --no-transfer-progress
      - name: Test with blocking IO
        run: |
          ./mvnw verify -Dio.layer=socket -Drabbitmqctl.bin=DOCKER:rabbitmq0 \
            -Dtest-broker.A.nodename=rabbit@node0 -Dtest-broker.B.nodename=rabbit@node1 \
            -Dca.certificate=./tls-gen/basic/result/ca_certificate.pem \
            -Dclient.certificate=./tls-gen/basic/result/client_$(hostname)_certificate.pem \
            -Dmaven.javadoc.skip=true \
            --no-transfer-progress
      - name: Get broker logs
        if: ${{ always() }}
        run: |
          docker cp rabbitmq0:/var/log/rabbitmq broker-logs-0
          docker cp rabbitmq1:/var/log/rabbitmq broker-logs-1
          docker cp rabbitmq2:/var/log/rabbitmq broker-logs-2
      - name: Upload broker logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: broker-logs
          path: broker-logs-*
      - name: Stop cluster
        run: docker compose --file ci/cluster/docker-compose.yml down
      - name: Publish snapshot
        if: ${{ github.event_name != 'pull_request' }}
        run: ./mvnw clean deploy -Psnapshots -DskipITs -DskipTests --no-transfer-progress
        env:
          MAVEN_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
